<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- إعدادات التطبيق -->
    <add key="OrganizationName" value="الوجيه - نظام إدارة الادخار"/>
    <add key="OrganizationAddress" value="اليمن - تعز - التربة"/>
    <add key="OrganizationPhone" value="+967776559066"/>
    
    <!-- إعدادات النسخ الاحتياطي -->
    <add key="AutoBackupEnabled" value="false"/>
    <add key="AutoBackupTime" value="23:00"/>
    <add key="BackupRetentionDays" value="30"/>
    
    <!-- إعدادات الجرد -->
    <add key="ReconciliationDifferenceThreshold" value="1.0"/>
  </appSettings>
</configuration>
